body {
  background-color: aqua;
}
.cool {
  width: 6rem;
  height: 5rem;
  border-radius: 10%;
  background-color: black;
}
.cir {
  margin-top: 1em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  border: 2px solid green;
}
.left {
  width: 12em;
  height: 6em;
  background-color: green;
  float: right;
}
